In [34]:
import numpy as np
import pandas as pd
import csv

from sklearn.decomposition import PCA
from numpy import corrcoef

In [28]:
data = pd.read_csv("close_prices.csv", usecols = list(range(1,31)))
target = pd.read_csv("djia_index.csv", usecols = [1])

In [29]:
data.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [56]:
target.head()

           ^DJI
0  15401.379883
1  15334.589844
2  15273.259766
3  15328.299805
4  15258.240234

In [80]:
pca = PCA(n_components = 10)
pca_data = pd.DataFrame(pca.fit_transform(data))

In [81]:
pca.explained_variance_ratio_

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

In [83]:
pca.explained_variance_ratio_.sort()

In [124]:
sum = 0
i = 9
count = 0
while(sum < 0.9):
    sum += pca.explained_variance_ratio_[i]
    i -= 1
    count += 1
print(count)

4

In [94]:
open('answer1.txt', 'tw', encoding='utf-8').write(str(count))

1

In [96]:
#вычислим корреляцию Пирсона
corr = corrcoef(pca_data[0],target['^DJI'])[0,1]
print(corr)

0.9096522193050237

In [99]:
open('answer2.txt', 'tw', encoding='utf-8').write(str(round(corr,2)))

4

In [104]:
pca.components_[0]

array([ 1.61383840e-02,  1.20644923e-01, -5.16612711e-02,  5.04842369e-02,
       -1.25859933e-01,  1.14089567e-01,  2.33906290e-01, -6.20513749e-03,
        2.51227032e-01,  2.88996029e-01, -2.64998795e-01,  9.31320168e-02,
        9.13948403e-02,  4.69879340e-02,  2.90549417e-02, -2.61068828e-02,
        3.29615584e-01,  7.13897133e-02,  7.62295699e-02,  2.11888868e-01,
        2.30922941e-02,  7.77316954e-02, -7.20594590e-03,  1.89479745e-01,
        3.21564017e-01,  5.36834873e-02,  5.79683946e-01,  1.09122230e-04,
        8.71614334e-02, -4.29421420e-02])

In [110]:
pca.components_[0].argmax() + 1

26

In [125]:
answer3 = data.axes[1][pca.components_[0].argmax()]
print(answer3)

V

In [120]:
target

             ^DJI
0    15401.379883
1    15334.589844
2    15273.259766
3    15328.299805
4    15258.240234
5    15129.669922
6    15191.700195
7    15133.139648
8    14996.480469
9    15072.580078
10   14936.240234
11   14776.530273
12   14802.980469
13   15126.070312
14   15237.110352
15   15301.259766
16   15168.009766
17   15373.830078
18   15371.650391
19   15399.650391
20   15392.200195
21   15467.660156
22   15413.330078
23   15509.209961
24   15570.280273
25   15568.929688
26   15680.349609
27   15618.759766
28   15545.750000
29   15615.549805
..            ...
344  17673.019531
345  17884.880859
346  17824.289062
347  17729.210938
348  17868.759766
349  17862.140625
350  17972.380859
351  18019.349609
352  18047.580078
353  18029.849609
354  17985.769531
355  18140.439453
356  18116.839844
357  18209.189453
358  18224.570312
359  18214.419922
360  18132.699219
361  18288.630859
362  18203.369141
363  18096.900391
364  18135.720703
365  17856.779297
366  17995.720703
367  17662.939453
368  17635.390625
369  17895.220703
370  17749.310547
371  17977.419922
372  17849.080078
373  18076.189453

[374 rows x 1 columns]

In [123]:
open('answer3.txt', 'tw', encoding='utf-8').write(answer3)

1